/*
    BIG SIMPLE DESIGN
    Structure Styling

    @author Jordan Pakrosnis
*/

*::selection {
    background: $accent;
    color: $white;
    text-shadow: none;
}

*::-moz-selection {
    background: $accent;
    color: $white;
    text-shadow: none;
}

body {
    background: $secondary;
}

div, header, footer, main, article, aside, p, h1, h2, h3, h4, h5, h6 {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#pagewrap {
    margin: 0 auto;
    margin-bottom: $space-default;
    width: 960px;
    background: $white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.22);
}

header {
    padding: $space-default;
    padding-bottom: $space-default + 10px;
    background: none;
    border-top: 2px solid $accent;

    #header-left {
        display: block;
        // float: left;
    }

    #header-right {
        display: block;
        float: right;
    }

    .site-title {

        h1 {
            display: block;
            position: relative;
            top: 3px;
            margin: 0;
            padding: 0;
            color: $primary;
            text-transform: uppercase;
            font-weight: 300;
            font-size: 2.12em;
            letter-spacing: -1px;
            line-height: normal;

            b {
                font-weight: 400;
            }

        } // h1

        .site-description {
            margin: 0;
            padding: 0;
            color: $accent;
            text-transform: uppercase;
            font-size: .85em;
            font-weight: 700;
            line-height: normal;
        }

    } // .site-title

    #branding {
        display: block;
        float: left;
        margin-right: 14px;
        padding: 13px;
        border-radius: 50%;
        width: 78px;
        height: 76px;
        text-align: center;
        font-weight: 400;
        font-size: 2em;
        font-family: $font-heading;
        color: $white;
        background: $accent;
        line-height: normal;
    }

} // header


.hero {
    margin: 0;
    padding: ($space-default * 3.5) ($space-default + $space-default-half);
    text-align: center;
    background-image: url('images/forest-lake.jpg');
    background-position: center top;
    background-size: cover;
    color: $white;
    border-bottom: 2px solid $primary-dark;
    border-top: 2px solid $primary-dark;
    text-shadow: 0 0 3px rgba(0,0,0,0.8), 0 3px 8px rgba(0,0,0,0.65), 0 0 2px rgba(0,0,0,0.6);

    h2 {
        display: block;
        font-size: 48px;
        margin: 0 0 $space-default-half 0;
        padding: 0;
        line-height: normal;
    }

    p {
        display: block;
        margin: 0 0 10px 0;
        padding: 0;
        line-height: normal;
        font-size: 22px;
    }

    .button {
        margin-top: $space-default + $space-default-half;
        font-size: 16px;
        background: rgba(0,0,0,0.25);
        padding: 12px 22px 10px 22px;
    }

} // .hero

.content-sidebar-wrap {
    display: block;

    @include clearfix();
}

main {
    display: block;
    float: left;
    width: 67%;
    // padding: $space-default;
    // padding-right: $space-default;

    &.full-width {
        width: 100%;
        // padding: $space-default;
        float: none;
    }

    .entry {
        padding: $space-default;
        padding-bottom: 0;

        &:last-child {
            padding-bottom: $space-default;
        }

    } // .entry

} // main

.featured-image {
    width: 100%;
}


aside#sidebar-primary {
    display: block;
    float: right;
    width: 33%;
    padding: $space-default;
    padding-left: $space-default;
    font-size: 0.875em;
    background: rgba(0,0,0,0.025);

    h3 {
        font-size: 18px;
        margin-bottom: 8px;
    }

    .fa {
        position: relative;
        top: -2px;
    }

} // aside#sidebar-primary

footer {
    font-size: 14px;
    padding: 14px;
    display: block;
    text-align: center;
    background: $primary;
    color: $secondary;

    p {
        margin: 0;
        padding: 0;
    } // p

    a {
        color: $white;
        border-bottom: 2px solid $accent;

        @include transition-ease-in-out();

        &:hover {
            border-color: $white;
        }

    } // a

} // footer

hr {
    display: block;
    margin: $space-default-mid 0;
    padding: 0;
    border: none;
    border-top: 1px solid rgba(0,0,0,0.18);
}

.row {
    display: block;
    @include clearfix();
}

.one-third, .two-thirds, .one-half {
    display: block;
    float: left;
    margin-left: 5%;

    &.first {
        margin-left: 0;
    }

} // Column Width Classes

.one-third {
    width: 30%;
}

.one-half {
    width: 47.5%;
}
