/*
    BIG SIMPLE DESIGN
    Structure Styling

    @author Jordan Pakrosnis
*/

body {
    background: $secondary;
}

#pagewrap {
    margin: 0 auto;
    width: 960px;
}

header {
    padding: $space-default;
    background: none;
    border-bottom: 2px solid $primary;

    h1 {
        margin: 0;
        padding: 0;
    }

} // header
